{% extends "index.html" %}
{% load static %}
{% block title %}
<title>cloud computing</title>
{% endblock %}

{% block body %}
<link href="{% static 'assets/css/course.css' %}" rel="stylesheet">

<div class=" d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="container p-0" id="sidebar-wrapper">
    <div class="bg-light border-right mt-2 sidebar-color">
      <div class="sidebar-heading fs-3 list-group-item">Courses</div>
      <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-action">
          Career Course
          <div class="nested-links">
            <a href="#" class="list-group-item list-group-item-action pl-4">CK-DCCP</a>
            <a href="#" class="list-group-item list-group-item-action pl-4">CK-DCC & CSP</a>
            <a href="#" class="list-group-item list-group-item-action pl-4">CK-DCCP Level-2</a>
          </div>
        </div>
        <div class="list-group-item list-group-item-action">
          Cloud Computing
          <div class="nested-links">
            <a href="#" class="list-group-item list-group-item-action pl-4">AWS</a>
            <a href="#" class="list-group-item list-group-item-action pl-4">Azure</a>
            <a href="#" class="list-group-item list-group-item-action pl-4">GCP</a>
          </div>
        </div>
        <div class="list-group-item list-group-item-action">
          Networking
          <div class="nested-links">
            <a href="#" class="list-group-item list-group-item-action pl-4">CCNA</a>
            <a href="#" class="list-group-item list-group-item-action pl-4">CCNP</a>
          </div>
        </div>
        <a href="#" class="list-group-item list-group-item-action">MCSA</a>
        <a href="#" class="list-group-item list-group-item-action">MCSE</a>
        <a href="#" class="list-group-item list-group-item-action">RHCSA</a>
        <a href="#" class="list-group-item list-group-item-action">Cyber Security</a>
        <a href="#" class="list-group-item list-group-item-action">Devops</a>
        <a href="#" class="list-group-item list-group-item-action">mLOps</a>
        <div class="list-group-item list-group-item-action">
          Python Developer
          <div class="nested-links">
            <a href="#" class="list-group-item list-group-item-action pl-4">Data Analytics</a>
            <a href="#" class="list-group-item list-group-item-action pl-4">Data Science</a>
            <a href="#" class="list-group-item list-group-item-action pl-4">Python Full Stack</a>
          </div>
        </div>
        <a href="#" class="list-group-item list-group-item-action">Java Full Stack</a>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="mt-auto p-1">
      <img src="{% static 'assets/images/b1.jpg' %}" style="height: 80vh; width: 100%; margin-top: -20px;" alt="Sidebar Image">
    </div> 
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


{% endblock %}
